$color--dark-grey: #222;
$color--medium-grey: #4a4a4a;
$color--light-grey: #6e6e6e;
$color--white: #ffffff;
$color--red: #f26560;
$color--light-red: #f2a09d;

$color--ruby: #ca3633;
$color--rails: #c90813;
$color--sinatra: #d3cbbe;
$color--rspec: #2ebdd3;
$color--minitest: #718e32;
$color--javascript: #e5bb31;
$color--vue-js: #00bf81;
$color--rubygems: #e75845;
$color--documentation: #398ae5;
