@import 'globals';

html {
  background-color: $color--red;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 15px;
  color: $color--medium-grey;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  margin: 0;
  border-top: $color--red 10px solid;
  background-color: $color--white;
}

a {
  color: $color--red;
  text-decoration: none;
  transition: color 0.1s linear;

	&:active, &:focus, &:hover {
		color: darken($color--red, 15%);
	}
}

h1, h2, h3 {
  font-weight: normal;
  color: $color--dark-grey;
  margin: 0;
}

.body-container {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 2em;
  max-width: 700px;
}

.header {
  text-align: center;
  padding: 2em 0;

  .headshot {
    padding: 1em 0;
  }

  .contact-icons {
    .icon {
      display: inline-block;
      font-size: 30px;
      padding: 0 0.25em;
    }
  }
}

.section {
  padding: 1em 0;
}

.project {
  margin: 1.75em 0;

  .project-title {
    margin: 0.5em 0;
		font-size: 20px;

    a {
      .fa-trophy {
        margin: 0 0.25em;
        color: $color--gold;

      	&:active, &:focus, &:hover {
      		color: darken($color--gold, 10%);
      	}
      }
    }
  }

  .project-description {
    margin: 0.5em 0;
  }
}

.blog-post {
  margin: 1.75em 0;

  .blog-post-title {
    margin: 0.5em 0;
  }

  .blockquote {
    margin-left: 2em;
    padding-left: 1em;
    border-left: 3px solid $color--light-red;
    color: $color--light-grey;
    font-style: italic;
  }
}

.contribution {
  margin: 1.75em 0;

  .contribution-title {
    margin: 0.5em 0;
  }
}

.tech-tags {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.tech-tag {
  font-size: 12px;
  color: $color--white;
  border-radius: 5px;
  padding: 0.35em;
  margin-right: 0.25em;

  &__ruby {
    background-color: $color--ruby;
    text-shadow: 1px 1px 0 darken($color--ruby, 25%);
  }

  &__rails {
    background-color: $color--rails;
    text-shadow: 1px 1px 0 darken($color--rails, 25%);
  }

  &__sinatra {
    background-color: $color--sinatra;
    text-shadow: 1px 1px 0 darken($color--sinatra, 25%);
  }

  &__rspec {
    background-color: $color--rspec;
    text-shadow: 1px 1px 0 darken($color--rspec, 25%);
  }

  &__minitest {
    background-color: $color--minitest;
    text-shadow: 1px 1px 0 darken($color--minitest, 25%);
  }

  &__javascript {
    background-color: $color--javascript;
    text-shadow: 1px 1px 0 darken($color--javascript, 25%);
  }

  &__jest {
    background-color: $color--jest;
    text-shadow: 1px 1px 0 darken($color--jest, 25%);
  }

  &__vue-js {
    background-color: $color--vue-js;
    text-shadow: 1px 1px 0 darken($color--vue-js, 25%);
  }

  &__rubygems {
    background-color: $color--rubygems;
    text-shadow: 1px 1px 0 darken($color--rubygems, 25%);
  }

  &__documentation {
    background-color: $color--documentation;
    text-shadow: 1px 1px 0 darken($color--documentation, 25%);
  }

  &__graphql {
    background-color: $color--graphql;
    text-shadow: 1px 1px 0 darken($color--documentation, 25%);
  }

  &__docker {
    background-color: $color--docker;
    text-shadow: 1px 1px 0 darken($color--docker, 25%);
  }

  &__github-actions {
    background-color: $color--github-actions;
    text-shadow: 1px 1px 0 darken($color--github-actions, 25%);
  }
}
